cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.3
cryptography==45.0.7
pdfminer.six==20231228
pdfplumber==0.11.5
pillow==10.4.0
pycparser==2.23
pypdf==5.1.0
pypdfium2==4.30.0
reportlab==4.3.0
typing-extensions==4.13.2
